<h1 class="text-center">Update Successful</h1>
<p class="text-center"><%= successMessage %></p>
<div class="center">
    <a href="/profile"><button class="btn btn-success">Go Back to Profile</button></a>
</div>